<a href="https://colab.research.google.com/github/aman5898/Data-Science-December/blob/main/2022-1-03-Scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.worldometers.info/coronavirus/

In [1]:
html_content = """
  <html>
  <head>
    <title>Scrap</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td>
          <td>Germany</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1 Centro comercial Moctezuma</td>
          <td>1 Francisco Chang</td>
          <td>1 Mexico</td>
        </tr>
        <tr>
          <td>2 Centro comercial Moctezuma</td>
          <td>2 Francisco Chang</td>
          <td>2 Mexico</td>
        </tr>
      </tbody>
    </table>
  </body>
  </html>
"""

html_content2 = """
  <html><head>
    <title>Scrap</title>
  </head>
  <body>
    <div class="content">
      <p class="first p">This is First P tag</p>
      <p class="second p">This is Second P tag</p>
      
      <a href="https://nados.pepcoding.com" id="nados-link">go to nados</a><a href="https://pepcoding.com" id="pepcoding-link">go to pepcoding</a></div><a href="pepcoding.com" id="pepcoding-link">
  
  
          </a></body></html>
"""

In [2]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\shank\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\shank\anaconda3\lib\site-packages (from beautifulsoup4) (2.3.1)

In [3]:
from bs4 import BeautifulSoup

In [4]:
bs = BeautifulSoup(html_content2)

In [5]:
bs

<html><head>
<title>Scrap</title>
</head>
<body>
<div class="content">
<p class="first p">This is First P tag</p>
<p class="second p">This is Second P tag</p>
<a href="https://nados.pepcoding.com" id="nados-link">go to nados</a><a href="https://pepcoding.com" id="pepcoding-link">go to pepcoding</a></div><a href="pepcoding.com" id="pepcoding-link">
</a></body></html>

In [6]:
bs.p

In [7]:
bs.find('p')

In [8]:
bs.findAll('p')

[<p class="first p">This is First P tag</p>,
 <p class="second p">This is Second P tag</p>]

In [9]:
bs.findAll('a')

[<a href="https://nados.pepcoding.com" id="nados-link">go to nados</a>,
 <a href="https://pepcoding.com" id="pepcoding-link">go to pepcoding</a>,
 <a href="pepcoding.com" id="pepcoding-link">
 </a>]

In [10]:
bs.div.findAll('a')

[<a href="https://nados.pepcoding.com" id="nados-link">go to nados</a>,
 <a href="https://pepcoding.com" id="pepcoding-link">go to pepcoding</a>]

In [11]:
bs.findAll('p', attrs = {'class': 'second'})

In [12]:
from bs4 import BeautifulSoup

In [13]:
bs = BeautifulSoup(html_content)

In [14]:
heading = bs.thead
heading

<thead>
<tr>
<td>Alfreds Futterkiste</td>
<td>Maria Anders</td>
<td>Germany</td>
</tr>
</thead>

In [15]:
pd_heading = []

for ele in heading.findAll('td'):
  txt = ele.text
  pd_heading.append(txt)

pd_heading

['Alfreds Futterkiste', 'Maria Anders', 'Germany']

In [16]:
values = bs.tbody
values

<tbody>
<tr>
<td>1 Centro comercial Moctezuma</td>
<td>1 Francisco Chang</td>
<td>1 Mexico</td>
</tr>
<tr>
<td>2 Centro comercial Moctezuma</td>
<td>2 Francisco Chang</td>
<td>2 Mexico</td>
</tr>
</tbody>

In [17]:
pd_values = []

for tr in values.findAll('tr'):
    row = []
    for td in tr.findAll('td'):
      row.append(td.text)
    
    pd_values.append(row)

pd_values

[['1 Centro comercial Moctezuma', '1 Francisco Chang', '1 Mexico'],
 ['2 Centro comercial Moctezuma', '2 Francisco Chang', '2 Mexico']]

In [18]:
print(pd_heading)
print(pd_values)

['Alfreds Futterkiste', 'Maria Anders', 'Germany']
[['1 Centro comercial Moctezuma', '1 Francisco Chang', '1 Mexico'], ['2 Centro comercial Moctezuma', '2 Francisco Chang', '2 Mexico']]

In [19]:
import pandas as pd

pd.DataFrame(pd_values, columns = pd_heading)

            Alfreds Futterkiste       Maria Anders   Germany
0  1 Centro comercial Moctezuma  1 Francisco Chang  1 Mexico
1  2 Centro comercial Moctezuma  2 Francisco Chang  2 Mexico

In [20]:
import requests

In [21]:
pageContent = requests.get('https://www.worldometers.info/coronavirus/')
pageContent

In [ ]:
pageContent.content

In [23]:
bs = BeautifulSoup(pageContent.content)

In [24]:
len(bs.findAll('table'))

3

In [25]:
table = bs.table

heading = table.thead
heading

<thead>
<tr>
<th width="1%">#</th>
<th width="100">Country,<br/>Other</th>
<th width="20">Total<br/>Cases</th>
<th width="30">New<br/>Cases</th>
<th width="30">Total<br/>Deaths</th>
<th width="30">New<br/>Deaths</th>
<th width="30">Total<br/>Recovered</th>
<th width="30">New<br/>Recovered</th>
<th width="30">Active<br/>Cases</th>
<th width="30">Serious,<br/>Critical</th>
<th width="30">Tot Cases/<br/>1M pop</th>
<th width="30">Deaths/<br/>1M pop</th>
<th width="30">Total<br/>Tests</th>
<th width="30">Tests/<br/>
<nobr>1M pop</nobr>
</th>
<th width="30">Population</th>
<th style="display:none" width="30">Continent</th>
<th width="30">1 Case<br/>every X ppl</th><th width="30">1 Death<br/>every X ppl</th><th width="30">1 Test<br/>every X ppl</th>
<th width="30">New Cases/1M pop</th>
<th width="30">New Deaths/1M pop</th>
<th width="30">Active Cases/1M pop</th>
</tr>
</thead>

In [26]:
pd_heading = []

for ele in heading.findAll('th'):
  txt = ele.text
  if len(txt) == 0:
    pd_heading.append(None)
  else:
    pd_heading.append(txt)

pd_heading

['#',
 'Country,Other',
 'TotalCases',
 'NewCases',
 'TotalDeaths',
 'NewDeaths',
 'TotalRecovered',
 'NewRecovered',
 'ActiveCases',
 'Serious,Critical',
 'Tot\xa0Cases/1M pop',
 'Deaths/1M pop',
 'TotalTests',
 'Tests/\n1M pop\n',
 'Population',
 'Continent',
 '1 Caseevery X ppl',
 '1 Deathevery X ppl',
 '1 Testevery X ppl',
 'New Cases/1M pop',
 'New Deaths/1M pop',
 'Active Cases/1M pop']

In [27]:
# values = table.findAll('tbody')[0]
values = table.tbody
values

<tbody>
<tr class="total_row_world row_continent" data-continent="North America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>North America</nobr>
</td>
<td>96,048,279</td>
<td>+901</td>
<td>1,431,675</td>
<td>+20</td>
<td>75,955,309</td>
<td>+2,242</td>
<td>18,661,295</td>
<td>8,874</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="North America" style="display:none;">North America</td>
<td>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Asia" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Asia</nobr>
</td>
<td>132,722,058</td>
<td>+235,111</td>
<td>1,384,679</td>
<td>+421</td>
<td>115,129,508</td>
<td>+24,622</td>
<td>16,207,871</td>
<td>27,826</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Asia" style="display:none;">Asia</td>
<td>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="South America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>South America</nobr>
</td>
<td>55,670,046</td>
<td>+108</td>
<td>1,271,818</td>
<td>+1</td>
<td>50,752,071</td>
<td>+1,317</td>
<td>3,646,157</td>
<td>12,040</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="South America" style="display:none;">South America</td>
<td>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Europe" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Europe</nobr>
</td>
<td>170,280,622</td>
<td></td>
<td>1,752,315</td>
<td></td>
<td>150,509,129</td>
<td>+180,187</td>
<td>18,019,178</td>
<td>11,310</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Europe" style="display:none;">Europe</td>
<td>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Australia/Oceania" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Oceania</nobr>
</td>
<td>4,700,298</td>
<td>+54,759</td>
<td>8,479</td>
<td>+18</td>
<td>4,108,922</td>
<td>+15,572</td>
<td>582,897</td>
<td>139</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Australia/Oceania" style="display:none;">Australia/Oceania</td>
<td>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Africa" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Africa</nobr>
</td>
<td>11,657,902</td>
<td></td>
<td>252,040</td>
<td></td>
<td>10,823,259</td>
<td></td>
<td>582,603</td>
<td>1,484</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Africa" style="display:none;">Africa</td>
<td>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr></nobr>
</td>
<td>721</td>
<td></td>
<td>15</td>
<td></td>
<td>706</td>
<td></td>
<td>0</td>
<td>0</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="" style="display:none;"></td>
<td>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world">
<td></td>
<td style="text-align:left;">World</td>
<td>471,079,926</td>
<td>+290,879</td>
<td>6,101,021</td>
<td>+460</td>
<td>407,278,904</td>
<td>+223,940</td>
<td>57,700,001</td>
<td>61,673</td>
<td>60,435</td>
<td>782.7</td>
<td></td>
<td></td>
<td></td>
<td data-continent="all" style="display:none">All</td>
<td>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
<td style="font-weight: bold; text-align:right">81,410,101</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">997,933 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">63,006,762</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">17,405,406</td>
<td style="font-weight: bold; text-align:right">3,129</td>
<td style="font-weight: bold; text-align:right">243,505</td>
<td style="font-weight: bold; text-align:right">2,985</td>
<td style="font-weight: bold; text-align:right">971,606,364</td>
<td style="font-weight: bold; text-align:right">2,906,160</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">334,326,490</a> </td>
<td data-continent="North America" style="display:none">North America</td>
<td>4</td><td>335</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">52,061</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
<td style="font-weight: bold; text-align:right">43,009,390</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">516,516 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">42,467,774</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">25,100</td>
<td style="font-weight: bold; text-align:right">8,944</td>
<td style="font-weight: bold; text-align:right">30,650</td>
<td style="font-weight: bold; text-align:right">368</td>
<td style="font-weight: bold; text-align:right">782,660,658</td>
<td style="font-weight: bold; text-align:right">557,754</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,403,235,816</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<td>33</td><td>2,717</td><td>2</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">18</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">3</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
<td style="font-weight: bold; text-align:right">29,630,484</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">657,261 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">28,187,353</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">785,870</td>
<td style="font-weight: bold; text-align:right">8,318</td>
<td style="font-weight: bold; text-align:right">137,722</td>
<td style="font-weight: bold; text-align:right">3,055</td>
<td style="font-weight: bold; text-align:right">63,776,166</td>
<td style="font-weight: bold; text-align:right">296,431</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/brazil-population/">215,146,793</a> </td>
<td data-continent="South America" style="display:none">South America</td>
<td>7</td><td>327</td><td>3</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">3,653</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>
<td style="font-weight: bold; text-align:right">24,137,160</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">140,933 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">22,561,882</span></td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">1,434,345</td>
<td style="font-weight: bold; text-align:right">1,695</td>
<td style="font-weight: bold; text-align:right">368,389</td>
<td style="font-weight: bold; text-align:right">2,151</td>
<td style="font-weight: bold; text-align:right">246,629,975</td>
<td style="font-weight: bold; text-align:right">3,764,144</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/france-population/">65,520,860</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>3</td><td>465</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">21,891</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">5</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
<td style="font-weight: bold; text-align:right">20,093,762</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">163,511 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">18,541,447</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">1,388,804</td>
<td style="font-weight: bold; text-align:right">292</td>
<td style="font-weight: bold; text-align:right">293,354</td>
<td style="font-weight: bold; text-align:right">2,387</td>
<td style="font-weight: bold; text-align:right">495,276,718</td>
<td style="font-weight: bold; text-align:right">7,230,667</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/uk-population/">68,496,687</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>3</td><td>419</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">20,275</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">6</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>
<td style="font-weight: bold; text-align:right">18,683,287</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">127,432 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">14,680,700</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+151,900</td>
<td style="text-align:right;font-weight:bold;">3,875,155</td>
<td style="font-weight: bold; text-align:right">2,494</td>
<td style="font-weight: bold; text-align:right">221,779</td>
<td style="font-weight: bold; text-align:right">1,513</td>
<td style="font-weight: bold; text-align:right">104,701,826</td>
<td style="font-weight: bold; text-align:right">1,242,859</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/germany-population/">84,242,727</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>5</td><td>661</td><td>1</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">46,000</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">7</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>
<td style="font-weight: bold; text-align:right">17,582,692</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">364,492 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">16,209,942</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">1,008,258</td>
<td style="font-weight: bold; text-align:right">2,300</td>
<td style="font-weight: bold; text-align:right">120,395</td>
<td style="font-weight: bold; text-align:right">2,496</td>
<td style="font-weight: bold; text-align:right">273,400,000</td>
<td style="font-weight: bold; text-align:right">1,872,069</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/russia-population/">146,041,625</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>8</td><td>401</td><td>1</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">6,904</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>
<td style="font-weight: bold; text-align:right">14,693,917</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">97,267 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">14,324,234</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">272,416</td>
<td style="font-weight: bold; text-align:right">975</td>
<td style="font-weight: bold; text-align:right">171,072</td>
<td style="font-weight: bold; text-align:right">1,132</td>
<td style="font-weight: bold; text-align:right">150,681,202</td>
<td style="font-weight: bold; text-align:right">1,754,291</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/turkey-population/">85,892,949</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<td>6</td><td>883</td><td>1</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">3,172</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">9</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
<td style="font-weight: bold; text-align:right">13,861,743</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">157,785 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">12,531,134</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">1,172,824</td>
<td style="font-weight: bold; text-align:right">467</td>
<td style="font-weight: bold; text-align:right">229,843</td>
<td style="font-weight: bold; text-align:right">2,616</td>
<td style="font-weight: bold; text-align:right">195,712,501</td>
<td style="font-weight: bold; text-align:right">3,245,132</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/italy-population/">60,309,573</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>4</td><td>382</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">19,447</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/spain/">Spain</a></td>
<td style="font-weight: bold; text-align:right">11,324,637</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">101,703 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">10,571,203</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">651,731</td>
<td style="font-weight: bold; text-align:right">682</td>
<td style="font-weight: bold; text-align:right">242,053</td>
<td style="font-weight: bold; text-align:right">2,174</td>
<td style="font-weight: bold; text-align:right">471,036,328</td>
<td style="font-weight: bold; text-align:right">10,067,936</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/spain-population/">46,785,791</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>4</td><td>460</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">13,930</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">11</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/south-korea/">S. Korea</a></td>
<td style="font-weight: bold; text-align:right">9,582,815</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+209,169</td>
<td style="font-weight: bold; text-align:right;">12,757 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+329</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right;">N/A</td>
<td style="text-align:right;font-weight:bold;">N/A</td>
<td style="font-weight: bold; text-align:right">1,130</td>
<td style="font-weight: bold; text-align:right">186,637</td>
<td style="font-weight: bold; text-align:right">248</td>
<td style="font-weight: bold; text-align:right">15,804,065</td>
<td style="font-weight: bold; text-align:right">307,803</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/south-korea-population/">51,344,747</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<td>5</td><td>4,025</td><td>3</td>
<td style="font-weight: bold; text-align:right">4,074</td>
<td style="font-weight: bold; text-align:right">6</td>
<td style="font-weight: bold; text-align:right">167,506</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">12</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/argentina/">Argentina</a></td>
<td style="font-weight: bold; text-align:right">9,007,753</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">127,494 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">8,812,506</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">67,753</td>
<td style="font-weight: bold; text-align:right">689</td>
<td style="font-weight: bold; text-align:right">196,222</td>
<td style="font-weight: bold; text-align:right">2,777</td>
<td style="font-weight: bold; text-align:right">35,069,347</td>
<td style="font-weight: bold; text-align:right">763,940</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/argentina-population/">45,905,913</a> </td>

In [28]:
pd_values = []

for tr in values.findAll('tr'):
    row = []
    for td in tr.findAll('td'):
      if len(td.text) == 0:
        row.append(None)
      else:
        row.append(td.text)
    
    pd_values.append(row)

pd_values

[[None,
  '\nNorth America\n',
  '96,048,279',
  '+901',
  '1,431,675',
  '+20',
  '75,955,309',
  '+2,242',
  '18,661,295',
  '8,874',
  None,
  None,
  None,
  None,
  None,
  'North America',
  '\n',
  None,
  None,
  None,
  None,
  None],
 [None,
  '\nAsia\n',
  '132,722,058',
  '+235,111',
  '1,384,679',
  '+421',
  '115,129,508',
  '+24,622',
  '16,207,871',
  '27,826',
  None,
  None,
  None,
  None,
  None,
  'Asia',
  '\n',
  None,
  None,
  None,
  None,
  None],
 [None,
  '\nSouth America\n',
  '55,670,046',
  '+108',
  '1,271,818',
  '+1',
  '50,752,071',
  '+1,317',
  '3,646,157',
  '12,040',
  None,
  None,
  None,
  None,
  None,
  'South America',
  '\n',
  None,
  None,
  None,
  None,
  None],
 [None,
  '\nEurope\n',
  '170,280,622',
  None,
  '1,752,315',
  None,
  '150,509,129',
  '+180,187',
  '18,019,178',
  '11,310',
  None,
  None,
  None,
  None,
  None,
  'Europe',
  '\n',
  None,
  None,
  None,
  None,
  None],
 [None,
  '\nOceania\n',
  '4,700,298',
  '+54,759',
  '8,479',
  '+18',
  '4,108,922',
  '+15,572',
  '582,897',
  '139',
  None,
  None,
  None,
  None,
  None,
  'Australia/Oceania',
  '\n',
  None,
  None,
  None,
  None,
  None],
 [None,
  '\nAfrica\n',
  '11,657,902',
  None,
  '252,040',
  None,
  '10,823,259',
  None,
  '582,603',
  '1,484',
  None,
  None,
  None,
  None,
  None,
  'Africa',
  '\n',
  None,
  None,
  None,
  None,
  None],
 [None,
  '\n\n',
  '721',
  None,
  '15',
  None,
  '706',
  None,
  '0',
  '0',
  None,
  None,
  None,
  None,
  None,
  None,
  '\n',
  None,
  None,
  None,
  None,
  None],
 [None,
  'World',
  '471,079,926',
  '+290,879',
  '6,101,021',
  '+460',
  '407,278,904',
  '+223,940',
  '57,700,001',
  '61,673',
  '60,435',
  '782.7',
  None,
  None,
  None,
  'All',
  '\n',
  None,
  None,
  None,
  None,
  None],
 ['1',
  'USA',
  '81,410,101',
  None,
  '997,933 ',
  None,
  '63,006,762',
  None,
  '17,405,406',
  '3,129',
  '243,505',
  '2,985',
  '971,606,364',
  '2,906,160',
  '334,326,490 ',
  'North America',
  '4',
  '335',
  '0',
  None,
  None,
  '52,061'],
 ['2',
  'India',
  '43,009,390',
  None,
  '516,516 ',
  None,
  '42,467,774',
  None,
  '25,100',
  '8,944',
  '30,650',
  '368',
  '782,660,658',
  '557,754',
  '1,403,235,816 ',
  'Asia',
  '33',
  '2,717',
  '2',
  None,
  None,
  '18'],
 ['3',
  'Brazil',
  '29,630,484',
  None,
  '657,261 ',
  None,
  '28,187,353',
  None,
  '785,870',
  '8,318',
  '137,722',
  '3,055',
  '63,776,166',
  '296,431',
  '215,146,793 ',
  'South America',
  '7',
  '327',
  '3',
  None,
  None,
  '3,653'],
 ['4',
  'France',
  '24,137,160',
  None,
  '140,933 ',
  None,
  '22,561,882',
  None,
  '1,434,345',
  '1,695',
  '368,389',
  '2,151',
  '246,629,975',
  '3,764,144',
  '65,520,860 ',
  'Europe',
  '3',
  '465',
  '0',
  None,
  None,
  '21,891'],
 ['5',
  'UK',
  '20,093,762',
  None,
  '163,511 ',
  None,
  '18,541,447',
  None,
  '1,388,804',
  '292',
  '293,354',
  '2,387',
  '495,276,718',
  '7,230,667',
  '68,496,687 ',
  'Europe',
  '3',
  '419',
  '0',
  None,
  None,
  '20,275'],
 ['6',
  'Germany',
  '18,683,287',
  None,
  '127,432 ',
  None,
  '14,680,700',
  '+151,900',
  '3,875,155',
  '2,494',
  '221,779',
  '1,513',
  '104,701,826',
  '1,242,859',
  '84,242,727 ',
  'Europe',
  '5',
  '661',
  '1',
  None,
  None,
  '46,000'],
 ['7',
  'Russia',
  '17,582,692',
  None,
  '364,492 ',
  None,
  '16,209,942',
  None,
  '1,008,258',
  '2,300',
  '120,395',
  '2,496',
  '273,400,000',
  '1,872,069',
  '146,041,625 ',
  'Europe',
  '8',
  '401',
  '1',
  None,
  None,
  '6,904'],
 ['8',
  'Turkey',
  '14,693,917',
  None,
  '97,267 ',
  None,
  '14,324,234',
  None,
  '272,416',
  '975',
  '171,072',
  '1,132',
  '150,681,202',
  '1,754,291',
  '85,892,949 ',
  'Asia',
  '6',
  '883',
  '1',
  None,
  None,
  '3,172'],
 ['9',
  'Italy',
  '13,861,743',
  None,
  '157,785 ',
  None,
  '12,531,134',
  None,
  '1,172,824',
  '467',
  '229,843',
  '2,616',
  '195,712,501',
  '3,245,132',
  '60,309,573 ',
  'Europe',
  '4',
  '382',
  '0',
  None,
  None,
  '19,447'],
 ['10',
  'Spain',
  '11,324,637',
  None,
  '101,703 ',
  None,
  '10,571,203',
  None,
  '651,731',
  '682',
  '242,053',
  '2,174',
  '471,036,328',
  '10,067,936',
  '46,785,791 ',
  'Europe',
  '4',
  '460',
  '0',
  None,
  None,
  '13,930'],
 ['11',
  'S. Korea',
  '9,582,815',
  '+209,169',
  '12,757 ',
  '+329',
  'N/A',
  'N/A',
  'N/A',
  '1,130',
  '186,637',
  '248',
  '15,804,065',
  '307,803',
  '51,344,747 ',
  'Asia',
  '5',
  '4,025',
  '3',
  '4,074',
  '6',
  '167,506'],
 ['12',
  'Argentina',
  '9,007,753',
  None,
  '127,494 ',
  None,
  '8,812,506',
  None,
  '67,753',
  '689',
  '196,222',
  '2,777',
  '35,069,347',
  '763,940',
  '45,905,913 ',
  'South America',
  '5',
  '360',
  '1',
  None,
  None,
  '1,476'],
 ['13',
  'Vietnam',
  '7,958,048',
  None,
  '41,880 ',
  None,
  '4,103,028',
  None,
  '3,813,140',
  '3,968',
  '80,516',
  '424',
  '82,862,859',
  '838,368',
  '98,838,245 ',
  'Asia',
  '12',
  '2,360',
  '1',
  None,
  None,
  '38,580'],
 ['14',
  'Netherlands',
  '7,511,397',
  None,
  '21,793 ',
  None,
  '5,990,728',
  None,
  '1,498,876',
  '150',
  '436,714',
  '1,267',
  '21,107,399',
  '1,227,189',
  '17,199,799 ',
  'Europe',
  '2',
  '789',
  '1',
  None,
  None,
  '87,145'],
 ['15',
  'Iran',
  '7,141,033',
  None,
  '139,610 ',
  None,
  '6,822,521',
  None,
  '178,902',
  '2,011',
  '83,196',
  '1,627',
  '48,534,882',
  '565,454',
  '85,833,545 ',
  'Asia',
  '12',
  '615',
  '2',
  None,
  None,
  '2,084'],
 ['16',
  'Colombia',
  '6,081,131',
  None,
  '139,452 ',
  None,
  '5,913,303',
  None,
  '28,376',
  '342',
  '117,370',
  '2,692',
  '33,683,396',
  '650,114',
  '51,811,498 ',
  'South America',
  '9',
  '372',
  '2',
  None,
  None,
  '548'],
 ['17',
  'Japan',
  '6,061,939',
  None,
  '27,045  ',
  None,
  '5,516,590',
  None,
  '518,304',
  '955',
  '48,182',
  '215',
  '41,957,723',
  '333,492',
  '125,813,414 ',
  'Asia',
  '21',
  '4,652',
  '3',
  None,
  None,
  '4,120'],
 ['18',
  'Indonesia',
  '5,962,483',
  None,
  '153,738 ',
  None,
  '5,589,057',
  None,
  '219,688',
  '2,771',
  '21,411',
  '552',
  '90,365,359',
  '324,500',
  '278,475,940 ',
  'Asia',
  '47',
  '1,811',
  '3',
  None,
  None,
  '789'],
 ['19',
  'Poland',
  '5,891,140',
  None,
  '114,218 ',
  None,
  '5,231,888',
  None,
  '545,034',
  '413',
  '155,951',
  '3,024',
  '35,024,470',
  '927,171',
  '37,775,625 ',
  'Europe',
  '6',
  '331',
  '1',
  None,
  None,
  '14,428'],
 ['20',
  'Mexico',
  '5,634,829',
  '+901',
  '322,092 ',
  '+20',
  '4,929,271',
  '+2,242',
  '383,466',
  '4,798',
  '42,931',
  '2,454',
  '15,450,810',
  '117,719',
  '131,252,171 ',
  'North America',
  '23',
  '407',
  '8',
  '7',
  '0.2',
  '2,922'],
 ['21',
  'Ukraine',
  '4,928,032',
  None,
  '107,477 ',
  None,
  'N/A',
  'N/A',
  'N/A',
  '177',
  '113,854',
  '2,483',
  '19,521,252',
  '451,006',
  '43,283,828 ',
  'Europe',
  '9',
  '403',
  '2',
  None,
  None,
  '17,617'],
 ['22',
  'Malaysia',
  '3,993,124',
  None,
  '34,400 ',
  None,
  '3,684,665',
  None,
  '274,059',
  '371',
  '120,726',
  '1,040',
  '53,582,845',
  '1,619,993',
  '33,075,969 ',
  'Asia',
  '8',
  '962',
  '1',
  None,
  None,
  '8,286'],
 ['23',
  'Australia',
  '3,943,245',
  '+40,132',
  '5,736 ',
  '+6',
  '3,526,875',
  None,
  '410,634',
  '87',
  '151,626',
  '221',
  '65,374,596',
  '2,513,784',
  '26,006,454 ',
  'Australia/Oceania',
  '7',
  '4,534',
  '0',
  '1,543',
  '0.2',
  '15,790'],
 ['24',
  'Israel',
  '3,772,758',
  None,
  '10,431 ',
  None,
  '3,711,564',
  None,
  '50,763',
  '327',
  '404,542',
  '1,118',
  '41,373,364',
  '4,436,346',
  '9,326,000 ',
  'Asia',
  '2',
  '894',
  '0',
  None,
  None,
  '5,443'],
 ['25',
  'Czechia',
  '3,737,891',
  None,
  '39,359 ',
  None,
  '3,626,591',
  None,
  '71,941',
  '115',
  '347,937',
  '3,664',
  '54,373,813',
  '5,061,323',
  '10,743,004 ',
  'Europe',
  '3',
  '273',
  '0',
  None,
  None,
  '6,697'],
 ['26',
  'Belgium',
  '3,707,561',
  None,
  '30,529 ',
  None,
  '3,453,989',
  '+11,503',
  '223,043',
  '181',
  '317,537',
  '2,615',
  '32,372,165',
  '2,772,539',
  '11,675,999 ',
  'Europe',
  '3',
  '382',
  '0',
  None,
  None,
  '19,103'],
 ['27',
  'South Africa',
  '3,704,218',
  None,
  '99,881 ',
  None,
  '3,589,451',
  None,
  '14,886',
  '546',
  '61,137',
  '1,649',
  '23,585,561',
  '389,272',
  '60,588,931 ',
  'Africa',
  '16',
  '607',
  '3',
  None,
  None,
  '246'],
 ['28',
  'Philippines',
  '3,674,286',
  None,
  '58,263 ',
  None,
  '3,570,822',
  None,
  '45,201',
  '289',
  '32,783',
  '520',
  '28,692,985',
  '256,009',
  '112,078,073 ',
  'Asia',
  '31',
  '1,924',
  '4',
  None,
  None,
  '403'],
 ['29',
  'Peru',
  '3,541,397',
  None,
  '211,865 ',
  None,
  'N/A',
  'N/A',
  'N/A',
  '594',
  '104,905',
  '6,276',
  '28,238,793',
  '836,502',
  '33,758,172 ',
  'South America',
  '10',
  '159',
  '1',
  None,
  None,
  '47,659'],
 ['30',
  'Austria',
  '3,466,203',
  None,
  '15,409 ',
  None,
  '3,003,103',
  None,
  '447,691',
  '200',
  '381,136',
  '1,694',
  '170,633,229',
  '18,762,455',
  '9,094,398 ',
  'Europe',
  '3',
  '590',
  '0',
  None,
  None,
  '49,227'],
 ['31',
  'Portugal',
  '3,458,727',
  None,
  '21,408 ',
  None,
  'N/A',
  'N/A',
  'N/A',
  '66',
  '340,903',
  '2,110',
  '37,805,639',
  '3,726,238',
  '10,145,794 ',
  'Europe',
  '3',
  '474',
  '0',
  None,
  None,
  '55,308'],
 ['32',
  'Canada',
  '3,398,106',
  None,
  '37,169 ',
  None,
  '3,239,843',
  None,
  '121,094',
  '510',
  '88,703',
  '970',
  '58,924,697',
  '1,538,151',
  '38,308,791 ',
  'North America',
  '11',
  '1,031',
  '1',
  None,
  None,
  '3,161'],
 ['33',
  'Chile',
  '3,392,978',
  None,
  '44,518 ',
  None,
  '2,740,959',
  None,
  '607,501',
  '775',
  '174,921',
  '2,295',
  '34,702,556',
  '1,789,052',
  '19,397,181 ',
  'South America',
  '6',
  '436',
  '1',
  None,
  None,
  '31,319'],
 ['34',
  'Thailand',
  '3,377,410',
  '+23,441',
  '24,337 ',
  '+88',
  '3,112,737',
  '+23,153',
  '240,336',
  '687',
  '48,180',
  '347',
  '17,270,775',
  '246,374',
  '70,099,920 ',
  'Asia',
  '21',
  '2,880',
  '4',
  '334',
  '1',
  '3,428'],
 ['35',
  'Switzerland',
  '3,253,776',
  None,
  '13,467 ',
  None,
  '2,643,181',
  '+13,456',
  '597,128',
  '146',
  '371,308',
  '1,537',
  '19,698,846',
  '2,247,956',
  '8,763,003 ',
  'Europe',
  '3',
  '651',
  '0',
  None,
  None,
  '68,142'],
 ['36',
  'Denmark',
  '2,860,917',
  None,
  '5,402 ',
  None,
  '2,722,227',
  None,
  '133,288',
  '23',
  '490,965',
  '927',
  '126,535,434',
  '21,714,870',
  '5,827,133 ',
  'Europe',
  '2',
  '1,079',
  '0',
  None,
  None,
  '22,874'],
 ['37',
  'Romania',
  '2,816,039',
  None,
  '64,685 ',
  None,
  '2,606,660',
  None,
  '144,694',
  '464',
  '148,073',
  '3,401',
  '21,759,079',
  '1,144,135',
  '19,017,931 ',
  'Europe',
  '7',
  '294',
  '1',
  None,
  None,
  '7,608'],
 ['38',
  'Greece',
  '2,788,654',
  None,
  '26,937 ',
  None,
  '2,511,275',
  None,
  '250,442',
  '346',
  '269,804',
  '2,606',
  '71,144,437',
  '6,883,257',
  '10,335,868 ',
  'Europe',
  '4',
  '384',
  '0',
  None,
  None,
  '24,230'],
 ['39',
  'Sweden',
  '2,475,687',
  None,
  '18,020 ',
  None,
  '2,408,222',
  '+3,410',
  '49,445',
  '42',
  '242,546',
  '1,765',
  '18,342,988',
  '1,797,081',
  '10,207,103 ',
  'Europe',
  '4',
  '566',
  '1',
  None,
  None,
  '4,844'],
 ['40',
  'Iraq',
  '2,316,044',
  None,
  '25,129 ',
  None,
  '2,273,408',
  None,
  '17,507',
  '67',
  '55,452',
  '602',
  '18,233,966',
  '436,564',
  '41,767,016 ',
  'Asia',
  '18',
  '1,662',
  '2',
  None,
  None,
  '419'],
 ['41',
  'Serbia',
  '1,955,280',
  None,
  '15,687 ',
  None,
  '1,898,199',
  None,
  '41,394',
  '42',
  '225,338',
  '1,808',
  '9,026,652',
  '1,040,284',
  '8,677,102 ',
  'Europe',
  '4',
  '553',
  '1',
  None,
  None,
  '4,770'],
 ['42',
  'Bangladesh',
  '1,950,609',
  None,
  '29,117 ',
  None,
  '1,870,471',
  None,
  '51,021',
  '1,264',
  '11,646',
  '174',
  '13,718,235',
  '81,901',
  '167,498,789 ',
  'Asia',
  '86',
  '5,753',
  '12',
  None,
  None,
  '305'],
 ['43',
  'Hungary',
  '1,824,089',
  None,
  '44,961 ',
  None,
  '1,672,699',
  None,
  '106,429',
  '90',
  '189,647',
  '4,675',
  '10,975,485',
  '1,141,099',
  '9,618,344 ',
  'Europe',
  '5',
  '214',
  '1',
  None,
  None,
  '11,065'],
 ['44',
  'Jordan',
  '1,680,179',
  None,
  '13,959 ',
  None,
  '1,647,266',
  None,
  '18,954',
  '694',
  '161,920',
  '1,345',
  '16,499,905',
  '1,590,112',
  '10,376,570 ',
  'Asia',
  '6',
  '743',
  '1',
  None,
  None,
  '1,827'],
 ['45',
  'Georgia',
  '1,641,874',
  None,
  '16,663 ',
  None,
  '1,598,286',
  None,
  '26,925',
  None,
  '412,941',
  '4,191',
  '16,189,275',
  '4,071,694',
  '3,976,054 ',
  'Asia',
  '2',
  '239',
  '0',
  None,
  None,
  '6,772'],
 ['46',
  'Slovakia',
  '1,634,669',
  None,
  '19,110 ',
  None,
  '1,490,384',
  None,
  '125,175',
  '207',
  '299,161',
  '3,497',
  '6,720,707',
  '1,229,959',
  '5,464,171 ',
  'Europe',
  '3',
  '286',
  '1',
  None,
  None,
  '22,908'],
 ['47',
  'Pakistan',
  '1,522,191',
  '+303',
  '30,331 ',
  '+2',
  '1,476,120',
  '+361',
  '15,740',
  '493',
  '6,669',
  '133',
  '27,175,808',
  '119,070',
  '228,233,184 ',
  'Asia',
  '150',
  '7,525',
  '8',
  '1',
  '0.01',
  '69'],
 ['48',
  'Norway',
  '1,379,467',
  None,
  '2,169 ',
  None,
  'N/A',
  'N/A',
  'N/A',
  '20',
  '251,094',
  '395',
  '9,852,076',
  '1,793,298',
  '5,493,830 ',
  'Europe',
  '4',
  '2,533',
  '1',
  None,
  None,
  '234,508'],
 ['49',
  'Ireland',
  '1,365,467',
  None,
  '6,638 ',
  None,
  '1,258,486',
  None,
  '100,343',
  '49',
  '271,345',
  '1,319',
  '11,577,799',
  '2,300,732',
  '5,032,224 ',
  'Europe',
  '4',
  '758',
  '0',
  None,
  None,
  '19,940'],
 ['50',
  'Kazakhstan',
  '1,304,895',
  '+28',
  '13,654 ',
  None,
  '1,284,564',
  '+386',
  '6,677',
  '528',
  '68,101',
  '713',
  '11,575,012',
  '604,085',
  '19,161,244 ',
  'Asia',
  '15',
  '1,403',
  '2',
  '1',
  None,
  '348'],
 ['51',
  'Morocco',
  '1,162,497',
  None,
  '16,052 ',
  None,
  '1,145,853',
  None,
  '592',
  '293',
  '30,869',
  '426',
  '11,237,010',
  '298,384',
  '37,659,611 ',
  'Africa',
  '32',
  '2,346',
  '3',
  None,
  None,
  '16'],
 ['52',
  'Bulgaria',
  '1,124,186',
  None,
  '36,282 ',
  None,
  '894,816',
  None,
  '193,088',
  '255',
  '163,902',
  '5,290',
  '9,466,970',
  '1,380,251',
  '6,858,875 ',
  'Europe',
  '6',
  '189',
  '1',
  None,
  None,
  '28,152'],
 ['53',
  'Lebanon',
  '1,088,196',
  None,
  '10,248 ',
  None,
  '1,024,966',
  None,
  '52,982',
  '186',
  '160,664',
  '1,513',
  '4,795,578',
  '708,033',
  '6,773,103 ',
  'Asia',
  '6',
  '661',
  '1',
  None,
  None,
  '7,822'],
 ['54',
  'Croatia',
  '1,084,012',
  None,
  '15,435 ',
  None,
  '1,057,880',
  None,
  '10,697',
  '42',
  '266,872',
  '3,800',
  '4,622,147',
  '1,137,923',
  '4,061,914 ',
  'Europe',
  '4',
  '263',
  '1',
  None,
  None,
  '2,633'],
 ['55',
  'Cuba',
  '1,081,472',
  None,
  '8,506 ',
  None,
  '1,069,705',
  None,
  '3,261',
  '23',
  '95,580',
  '752',
  '12,920,253',
  '1,141,892',
  '11,314,777 ',
  'North America',
  '10',
  '1,330',
  '1',
  None,
  None,
  '288'],
 ['56',
  'Hong Kong',
  '1,047,690',
  None,
  '5,896 ',
  None,
  'N/A',
  'N/A',
  'N/A',
  '115',
  '137,833',
  '776',
  '36,260,319',
  '4,770,385',
  '7,601,131 ',
  'Asia',
  '7',
  '1,289',
  '0',
  None,
  None,
  '135,317'],
 ['57',
  'Tunisia',
  '1,029,762',
  None,
  '28,065 ',
  None,
  '983,630',
  None,
  '18,067',
  '74',
  '85,597',
  '2,333',
  '4,475,031',
  '371,978',
  '12,030,364 ',
  'Africa',
  '12',
  '429',
  '3',
  None,
  None,
  '1,502'],
 ['58',
  'Singapore',
  '1,015,017',
  None,
  '1,198 ',
  None,
  '980,605',
  None,
  '33,214',
  '20',
  '171,192',
  '202',
  '23,396,045',
  '3,945,950',
  '5,929,129 ',
  'Asia',
  '6',
  '4,949',
  '0',
  None,
  None,
  '5,602'],
 ['59',
  'Lithuania',
  '992,101',
  None,
  '8,728 ',
  None,
  '909,464',
  None,
  '73,909',
  '66',
  '373,356',
  '3,285',
  '7,966,541',
  '2,998,036',
  '2,657,253 ',
  'Europe',
  '3',
  '304',
  '0',
  None,
  None,
  '27,814'],
 ['60',
  'Nepal',
  '978,155',
  None,
  '11,950 ',
  None,
  '962,964',
  None,
  '3,241',
  '100',
  '32,568',
  '398',
  '5,505,846',
  '183,322',
  '30,033,796 ',
  'Asia',
  '31',
  '2,513',
  '5',
  None,
  None,
  '108'],
 ['61',
  'Belarus',
  '951,081',
  None,
  '6,722 ',
  None,
  '928,536',
  None,
  '15,823',
  None,
  '100,707',
  '712',
  '12,731,148',
  '1,348,067',
  '9,444,000 ',
  'Europe',
  '10',
  '1,405',
  '1',
  None,
  None,
  '1,675'],
 ['62',
  'Slovenia',
  '936,847',
  None,
  '6,441 ',
  None,
  '897,435',
  None,
  '32,971',
  '58',
  '450,531',
  '3,097',
  '2,599,032',
  '1,249,879',
  '2,079,427 ',
  'Europe',
  '2',
  '323',
  '1',
  None,
  None,
  '15,856'],
 ['63',
  'Bolivia',
  '899,787',
  '+90',
  '21,483 ',
  '+1',
  '818,859',
  '+1,395',
  '59,445',
  '220',
  '75,324',
  '1,798',
  '2,682,016',
  '224,519',
  '11,945,622 ',
  'South America',
  '13',
  '556',
  '4',
  '8',
  '0.08',
  '4,976'],
 ['64',
  'UAE',
  '887,732',
  None,
  '2,302 ',
  None,
  '856,882',
  None,
  '28,548',
  None,
  '87,938',
  '228',
  '144,842,209',
  '14,347,920',
  '10,094,997 ',
  'Asia',
  '11',
  '4,385',
  '0',
  None,
  None,
  '2,828'],
 ['65',
  'Uruguay',
  '875,313',
  None,
  '7,138 ',
  None,
  '857,919',
  None,
  '10,256',
  '48',
  '250,494',
  '2,043',
  '5,888,873',
  '1,685,258',
  '3,494,346 ',
  'South America',
  '4',
  '490',
  '1',
  None,
  None,
  '2,935'],
 ['66',
  'Ecuador',
  '853,850',
  None,
  '35,410 ',
  None,
  'N/A',
  'N/A',
  'N/A',
  '759',
  '47,170',
  '1,956',
  '2,470,170',
  '136,461',
  '18,101,680 ',
  'South America',
  '21',
  '511',
  '7',
  None,
  None,
  '20,692'],
 ['67',
  'Costa Rica',
  '829,400',
  None,
  '8,226 ',
  None,
  '755,691',
  None,
  '65,483',
  '84',
  '160,309',
  '1,590',
  '3,854,668',
  '745,040',
  '5,173,770 ',
  'North America',
  '6',
  '629',
  '1',
  None,
  None,
  '12,657'],
 ['68',
  'Guatemala',
  '816,136',
  None,
  '17,238 ',
  None,
  '781,172',
  None,
  '17,726',
  '5',
  '44,157',
  '933',
  '4,141,366',
  '224,066',
  '18,482,798 ',
  'North America',
  '23',
  '1,072',
  '4',
  None,
  None,
  '959'],
 ['69',
  'Azerbaijan',
  '791,482',
  None,
  '9,656 ',
  None,
  '780,986',
  None,
  '840',
  None,
  '76,875',
  '938',
  '6,666,040',
  '647,461',
  '10,295,664 ',
  'Asia',
  '13',
  '1,066',
  '2',
  None,
  None,
  '82'],
 ['70',
  'Finland',
  '786,312',
  None,
  '2,783 ',
  None,
  '46,000',
  None,
  '737,529',
  '40',
  '141,539',
  '501',
  '10,217,581',
  '1,839,196',
  '5,555,460 ',
  'Europe',
  '7',
  '1,996',
  '1',
  None,
  None,
  '132,758'],
 ['71',
  'Latvia',
  '771,038',
  None,
  '5,511 ',
  None,
  '696,204',
  None,
  '69,323',
  '34',
  '416,667',
  '2,978',
  '6,973,906',
  '3,768,681',
  '1,850,490 ',
  'Europe',
  '2',
  '336',
  '0',
  None,
  None,
  '37,462'],
 ['72',
  'Panama',
  '761,508',
  None,
  '8,156 ',
  None,
  '750,945',
  None,
  '2,407',
  '16',
  '171,858',
  '1,841',
  '5,634,613',
  '1,271,623',
  '4,431,039 ',
  'North America',
  '6',
  '543',
  '1',
  None,
  None,
  '543'],
 ['73',
  'Saudi Arabia',
  '749,597',
  None,
  '9,028 ',
  None,
  '732,113',
  None,
  '8,456',
  '200',
  '20,972',
  '253',
  '41,370,138',
  '1,157,466',
  '35,741,993 ',
  'Asia',
  '48',
  '3,959',
  '1',
  None,
  None,
  '237'],
 ['74',
  'Sri Lanka',
  '658,197',
  None,
  '16,431 ',
  None,
  '624,676',
  None,
  '17,090',
  None,
  '30,519',
  '762',
  '6,368,159',
  '295,273',
  '21,567,002 ',
  'Asia',
  '33',
  '1,313',
  '3',
  None,
  None,
  '792'],
 ['75',
  'Paraguay',
  '647,099',
  None,
  '18,586 ',
  None,
  '622,834',
  None,
  '5,679',
  '57',
  '88,856',
  '2,552',

In [29]:
len(pd_values)

235

In [30]:
df = pd.DataFrame(pd_values, columns = pd_heading)

In [31]:
df.head(12)

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",...,TotalTests,Tests/\n1M pop\n,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,None,\nNorth America\n,"96,048,279",+901,"1,431,675",+20,"75,955,309","+2,242","18,661,295","8,874",...,None,None,None,North America,\n,None,None,None,None,None
1,None,\nAsia\n,"132,722,058","+235,111","1,384,679",+421,"115,129,508","+24,622","16,207,871","27,826",...,None,None,None,Asia,\n,None,None,None,None,None
2,None,\nSouth America\n,"55,670,046",+108,"1,271,818",+1,"50,752,071","+1,317","3,646,157","12,040",...,None,None,None,South America,\n,None,None,None,None,None
3,None,\nEurope\n,"170,280,622",None,"1,752,315",None,"150,509,129","+180,187","18,019,178","11,310",...,None,None,None,Europe,\n,None,None,None,None,None
4,None,\nOceania\n,"4,700,298","+54,759","8,479",+18,"4,108,922","+15,572","582,897",139,...,None,None,None,Australia/Oceania,\n,None,None,None,None,None
5,None,\nAfrica\n,"11,657,902",None,"252,040",None,"10,823,259",None,"582,603","1,484",...,None,None,None,Africa,\n,None,None,None,None,None
6,None,\n\n,721,None,15,None,706,None,0,0,...,None,None,None,None,\n,None,None,None,None,None
7,None,World,"471,079,926","+290,879","6,101,021",+460,"407,278,904","+223,940","57,700,001","61,673",...,None,None,None,All,\n,None,None,None,None,None
8,1,USA,"81,410,101",None,"997,933",None,"63,006,762",None,"17,405,406","3,129",...,"971,606,364","2,906,160","334,326,490",North America,4,335,0,None,None,"52,061"
9,2,India,"43,009,390",None,"516,516",None,"42,467,774",None,"25,100","8,944",...,"782,660,658","557,754","1,403,235,816",Asia,33,"2,717",2,None,None,18
10,3,Brazil,"29,630,484",None,"657,261",None,"28,187,353",None,"785,870","8,318",...,"63,776,166","296,431","215,146,793",South America,7,327,3,None,None,"3,653"
11,4,France,"24,137,160",None,"140,933",None,"22,561,882",None,"1,434,345","1,695",...,"246,629,975","3,764,144","65,520,860",Europe,3,465,0,None,None,"21,891"

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   #                    227 non-null    object
 1   Country,Other        235 non-null    object
 2   TotalCases           235 non-null    object
 3   NewCases             19 non-null     object
 4   TotalDeaths          235 non-null    object
 5   NewDeaths            14 non-null     object
 6   TotalRecovered       234 non-null    object
 7   NewRecovered         33 non-null     object
 8   ActiveCases          235 non-null    object
 9   Serious,Critical     170 non-null    object
 10  Tot Cases/1M pop     226 non-null    object
 11  Deaths/1M pop        217 non-null    object
 12  TotalTests           211 non-null    object
 13  Tests/
1M pop
       211 non-null    object
 14  Population           227 non-null    object
 15  Continent            232 non-null    object
 16  1 Caseevery X ppl    233 non-null    object
 17  1 Deathevery X ppl   216 non-null    object
 18  1 Testevery X ppl    211 non-null    object
 19  New Cases/1M pop     14 non-null     object
 20  New Deaths/1M pop    9 non-null      object
 21  Active Cases/1M pop  221 non-null    object
dtypes: object(22)
memory usage: 40.5+ KB

In [33]:
df.isna()

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",...,TotalTests,Tests/\n1M pop\n,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,True,False,False,False,False,False,False,False,False,False,...,True,True,True,False,False,True,True,True,True,True
1,True,False,False,False,False,False,False,False,False,False,...,True,True,True,False,False,True,True,True,True,True
2,True,False,False,False,False,False,False,False,False,False,...,True,True,True,False,False,True,True,True,True,True
3,True,False,False,True,False,True,False,False,False,False,...,True,True,True,False,False,True,True,True,True,True
4,True,False,False,False,False,False,False,False,False,False,...,True,True,True,False,False,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,False,False,False,True,False,True,False,True,False,True,...,True,True,False,False,False,True,True,True,True,True
231,False,False,False,True,False,True,False,True,False,True,...,True,True,False,False,False,True,True,True,True,True
232,False,False,False,True,False,True,False,True,False,True,...,True,True,False,False,False,True,True,True,True,True
233,False,False,False,True,False,True,True,True,False,True,...,True,True,False,False,False,True,True,True,True,False
234,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [34]:
df.isna().sum()

#                        8
Country,Other            0
TotalCases               0
NewCases               216
TotalDeaths              0
NewDeaths              221
TotalRecovered           1
NewRecovered           202
ActiveCases              0
Serious,Critical        65
Tot Cases/1M pop         9
Deaths/1M pop           18
TotalTests              24
Tests/\n1M pop\n        24
Population               8
Continent                3
1 Caseevery X ppl        2
1 Deathevery X ppl      19
1 Testevery X ppl       24
New Cases/1M pop       221
New Deaths/1M pop      226
Active Cases/1M pop     14
dtype: int64

https://tdwi.org/articles/2016/11/15/beer-and-diapers-impossible-correlation.aspx 

https://www.youtube.com/watch?v=WXuK6gekU1Y